{% extends "base.jinja" %}

{% block title %}{{ page_title }} - Political Data Dashboard{% endblock %}

{% block content %}
<div class="content-card my-4">
    {{ content | safe }}
</div>
{% endblock %}
